
/*
Name: Irfan Duric;
Coures: Web Application Development;
Assignment: CV project (CSS included);
Date: 27.10.2019;
Purpose: To style a index.html page of CV project;
*/


*{
	font-family: "Helvetica Neue";	
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #23313F;
}


header{
	min-height: 60px;
	background-color: #00b698;
	border-bottom: 2px solid #E8BCA2;
}	

h3{
	margin: 0;
}

.container{
	width:80%;
	margin: auto;

}

.aboutme{
	width: 60%;
	margin:auto;
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

.contact{
	color: white;
	margin: 5px;
	line-height: 1.4;
}

.education{
	color: white;
	line-height: 1.4;

}

.programming{
text-align: center;
color:white;
margin-bottom: 10px;
}

ul{
	list-style-type: none;
	line-height: 1.5
}

.navbarLink{
	display: inline;
	float: right;
	margin-left: 25px;
	margin-top: 20px;
	color: white;
	
}


.navtitle{
	font-family: fantasy;
	font-size: 25px;
	padding: 15px;
	color: white;
}


a{
	text-decoration: none;
	color: white;
}

.hobbies{
color:white;
margin-top: 10px;
width: 33%;
display: inline;
float: left;

}

.work{
color:white;
margin-top: 10px;
width: 33%;
display: inline;
float: left;
}

.languages{
color:white;
margin-top:10px;
width: 33%;
display: inline;
float: left;
}

.footer{
	width: 100%;
	padding: 8px;
	background-color:#FFF9BF;
	border-top: 3px solid #A2E8B2;
}

.fullwidth{
	width: 60%;
	display: block;
	margin:0 auto;
	border: 1px solid #00b698;
	background-color: #23313F;
	color:white; 
	font-size: 15px;
}

.submitClass{
	display: block;
	margin: auto;
	background-color: #23313f;
	padding: 8px 26px 8px 26px;
	border: 1px solid #00b698;
	color: white;
	font-size: 1em;
}

.submitButton{

}

